<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">


  <!-- 配置自动扫描的包，把service放入ioc容器中-->
  <context:component-scan base-package="com.yyl.crowd.service"/>

  <!-- 配置事务管理器 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 将BCryptPasswordEncoder装配入IOC容器 -->
    <bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="passwordEncoder"/>


    <!--基于xml的方式，配置事物切面-->
     <aop:config>
       <!--切入点表达式-->
       <aop:pointcut id="txPointcut" expression="execution(* *..*ServiceImpl.*(..))"/>
       <!--将切入点表达式和事物通知关联起来-->
       <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
     </aop:config>

    <!--配置事物通知-->
      <tx:advice id="txAdvice" transaction-manager="txManager">
    <!--配置事物属性-->
    <tx:attributes>

        <!--查询方法：配置只读属性，让数据库知道这是一个查询操作，能够进行优化-->
        <tx:method name="get*" read-only="true"/>
        <tx:method name="find*" read-only="true"/>
        <tx:method name="query*" read-only="true"/>
        <tx:method name="count*" read-only="true"/>

        <!--增删改方法：配置事物，回滚-->
        <!-- requires_new 用自己的事物，不用别人的事物-->
        <!--rollback-for 配置事物方法针对什么样的异常回滚
                         默认:运行时异常回滚
                         建议：编译时异常和运行时异常都回滚 -->
        <tx:method name="sava*" propagation="REQUIRES_NEW" rollback-for="java.lang.Exception"/>
        <tx:method name="update*" propagation="REQUIRES_NEW" rollback-for="java.lang.Exception"/>
        <tx:method name="remove*" propagation="REQUIRES_NEW" rollback-for="java.lang.Exception"/>
        <tx:method name="batch*" propagation="REQUIRES_NEW" rollback-for="java.lang.Exception"/>

    </tx:attributes>

      </tx:advice>



</beans>